<mat-card>
  <mat-card-title>Order by price</mat-card-title>
  <mat-card-content>
    <mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option role="listitem" *ngFor="let item of orders | async" (click)="sort(item)">
        {{item}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Products</mat-card-title>
  <mat-card-content>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of products$ | async">
      {{item.title}}
      {{item.price}}$
    </mat-list-item>
  </mat-list>
  </mat-card-content>
</mat-card>

